#heading {
  margin: 0;
}

a {
  color: #888;
}

#card {
  height: 50vmin;
  width: 90vmin;
  background-color: white;
  // background-image: url(https://images.unsplash.com/photo-1521916396286-3f65e9f0eddc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4eb92aa01a62d3c6bb783370514dcb7a&auto=format&fit=crop&w=1050&q=80); background-size: cover;
  // background-image: url(http://reactivex.io/rxjs/img/withLatestFrom.png); background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0 1rem 3rem rgba(black, 0.2);
  transform-style: preserve-3d;
  
  &:before, &:after {
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    width: 2px;
    border-radius: 50%;
    background: rgba(white, 0.2);
    filter: blur(1px);
  }
  
/*  &:before {
    transform: translateZ(1rem);
    $shadows: ();
    @for $i from 1 through 50 {
      $shadows: append($shadows, random(90) * 1vmin random(50) * 1vmin 0 white, comma);
    }
    box-shadow: $shadows;
  }*/
/*  
  &:after {
    height: 3px;
    width: 3px;
    transform: translateZ(2rem);
    $shadows: ();
    @for $i from 1 through 50 {
      $shadows: append($shadows, random(90) * 1vmin random(50) * 1vmin 0 white, comma);
    }
    box-shadow: $shadows;
  }*/
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  perspective: 1000px;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background: linear-gradient(to bottom, #dbe6ed, #cfdde5);
}

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}